* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*----inicio de header----*/
.imagen {
  width: 50px; }

a {
  text-decoration: none;
  color: #fbfbfb; }

a:active {
  text-decoration: none;
  color: #fbfbfb; }

.disf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(240, 103, 66, 0.911);
  padding: 15px;
  border-radius: 25px; }

.df-logo {
  display: flex;
  justify-content: center;
  align-items: center; }

p {
  margin: 10px; }

.imagen {
  border-radius: 25px; }

.dfbarra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none; }

li {
  margin: 8px;
  font-family: 'Raleway', sans-serif; }

.navegacion :hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  border-radius: 6px; }

.titulo {
  color: #fbfbfb;
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

.img-fondo {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-image: url(../imagenes/pexels-monstera-5874661.jpg); }

/*----inicio de mi portada----*/
.porta {
  background-image: url(../imagenes/fondomil.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; }

.titulo-portada {
  background-color: rgba(255, 255, 255, 0.548);
  text-align: center;
  font-size: 3vw;
  height: fit-content;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  top: 120px; }

.portadacon {
  background-image: url(../imagenes/FotoJett.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.porta-deco {
  background-image: url(../imagenes/FotoJet.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .porta-deco .porta-torta {
    background-image: url(../imagenes/portada-torta.jpg);
    background-position: center;
    background-size: cover;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .porta-deco .porta-arreglos {
    background-image: url(../imagenes/fondomil.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; }

/*----Tarjetas INDEX----*/
.container-card {
  display: grid;
  gap: 20px;
  padding: 100px;
  grid-column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(300px, 1fr); }
  .container-card .titulo-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    min-width: 250px; }
  .container-card .card {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background: #fbfbfb;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default; }
  .container-card .card img {
    width: 100%;
    height: 210px; }
  .container-card .card img {
    width: 100%;
    height: 210px; }

@media (min-width: 768px) {
  .container-card {
    display: grid;
    gap: 10px;
    padding: 60px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px, 1fr); }
    .container-card .titulo-cards {
      width: 80%;
      max-width: 720px;
      margin: auto;
      padding: 15px;
      margin-top: 15px;
      text-align: center;
      min-width: 150px; }
    .container-card .card {
      width: 60%;
      border-radius: 3px;
      overflow: hidden;
      background: #fbfbfb;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default; }
    .container-card .card img {
      width: 100%;
      height: 180px; }
  .card .contenido-card {
    padding: 15px;
    text-align: center; }
    .card .contenido-card h3 {
      margin-bottom: 15px;
      color: #7a7a7a; }
    .card .contenido-card p {
      line-height: 1.8;
      color: #6a6a6a;
      font-size: 14px;
      margin-bottom: 5px; }
    .card .contenido-card a {
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      text-decoration: none;
      color: #2fb4cc;
      border: 1px solid #2fb4cc;
      border-radius: 4px;
      transition: all 400ms ease;
      margin-bottom: 5px; }
    .card .contenido-card a:hover {
      background: #2fb4cc;
      color: #fff; } }

.oe {
  text-align: center; }

/*----FIN DE TARJETAS INDEX----*/
/*----INICIO DE TARJETAS ARREGLOS----*/
.container-card1 {
  display: grid;
  gap: 20px;
  padding: 100px;
  grid-column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-auto-rows: minmax(300px, 1fr); }
  .container-card1 .titulo-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    min-width: 250px; }
  .container-card1 .card1 {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background: #fbfbfb;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default; }
  .container-card1 .card1 img {
    width: 100%;
    height: 350px; }
  .container-card1 .card1 img {
    width: 100%;
    height: 300px; }

.card1 .contenido-card1 {
  padding: 15px;
  text-align: center; }
  .card1 .contenido-card1 h3 {
    margin-bottom: 15px;
    color: #7a7a7a; }
  .card1 .contenido-card1 p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px; }
  .card1 .contenido-card1 a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px; }
  .card1 .contenido-card1 a:hover {
    background: #2fb4cc;
    color: #fff; }

/*----- inicio de galeria tortas---*/
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: 5px solid #f3840581; }

#carouselExampleFade img {
  width: 100%;
  height: 60%;
  padding: 150px; }

.animacion {
  animation-name: mianimacion;
  animation-duration: 4s;
  position: relative;
  animation-direction: reverse;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }

@keyframes mianimacion {
  0% {
    left: 0px; }
  25% {
    left: 20px; }
  50% {
    left: 30px; }
  75% {
    left: 15px; }
  100% {
    left: 0px; } }

.body {
  background: url("bg.jpg") no-repeat top center;
  background-size: cover;
  height: 10px; }

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(240, 162, 162, 0.8);
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000; }
  .wrapper .wrapper {
    color: #000000;
    text-align: center;
    margin-bottom: 25px; }

.title h1 {
  color: #000000;
  text-align: center;
  margin-bottom: 25px; }
  .title h1 .contact-form {
    display: flex; }
  .title h1 .input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%; }
  .title h1 .input-fields,
  .title h1 .msg {
    width: 48%; }
  .title h1 .input-fields .input,
  .title h1 .msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #000000;
    padding: 10px;
    color: #000000;
    width: 100%; }
  .title h1 .msg textarea {
    height: 212px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000; }

.btn {
  background: #330452;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 70vh;
    background: rgba(240, 162, 162, 0.8);
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000; } }

.titulo-footer {
  text-align: center;
  margin: 30px; }

.icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 200px; }

.redes-sociales {
  font-size: 25px;
  text-align: end;
  margin-right: 150px;
  padding: 10px 20px; }

.redes-sociales a :hover {
  transform: scale(2);
  transition: all 1s ease; }

.linea {
  display: block;
  margin-top: 15px;
  border: 1px dashed #6a6a6a;
  height: 0;
  width: 100%; }

.linea2 {
  display: block;
  margin-top: 15px;
  border: 1px dashed #ea8fd8;
  height: 0;
  width: 100%;
  align-items: center;
  border-radius: 0px; }
