@mixin df {
  display: flex;  
}

.body{
    background: url('bg.jpg') no-repeat top center;
    background-size: cover;
    height: 10px;
  }
  
  .wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background:$rosa-claro;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px $color-negro;
  }
  
  .wrapper .title h1{
    color: $color-negro;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .contact-form{
    @include df(); 
   }
  
  .input-fields{
    @include df;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields,
  .msg{
    width: 48%;
  }
  
  .input-fields .input,
  .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid $color-negro;
    padding: 10px;
    color: $color-negro;
    width: 100%;
  }
  
  .msg textarea{
    height: 212px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $azul-claro;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $azul-claro;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: $color-negro;
  }
  
  .btn {
      background: $color-violeta;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: $color-negro;
      cursor: pointer;
      text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px){
    .contact-form{
      flex-direction: column;
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields,
    .msg{
      width: 100%;
    }
  }