/*----Tarjetas----*/


.container-card {
    
    display: grid;
    gap: 20px;
    padding: 100px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);

   

    .titulo-cards {
        width: 100%;
        max-width: 1080px;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        min-width: 250px;
    }


    .card {
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        background: rgb(251, 251, 251);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease-out;
        cursor: default;
    }

   

    .card img {
        width: 100%;
        height: 210px;
    }
    .card img {
        width: 100%;
        height: 210px;
    }
    
}


.card .contenido-card {
    padding: 15px;
    text-align: center;

     h3 {
        margin-bottom: 15px;
        color: #7a7a7a;   
       
    }

     p {
        line-height: 1.8;
        color: #6a6a6a;
        font-size: 14px;
        margin-bottom: 5px;
    }
     a {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        transition: all 400ms ease;
        margin-bottom: 5px;
    }
     a:hover {
        background: #2fb4cc;
        color: #fff;
    }
    
}


.oe{
    text-align: center;
}
.container-card1 {
    
    display: grid;
    gap: 20px;
    padding: 100px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-auto-rows: minmax(300px, 1fr);

   

    .titulo-cards {
        width: 100%;
        max-width: 1080px;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        min-width: 250px;
    }


    .card1 {
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        background: rgb(251, 251, 251);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease-out;
        cursor: default;
    }

   

    .card1 img {
        width: 100%;
        height: 210px;
    }
    .card1 img {
        width: 100%;
        height: 210px;
    }
    
}


.card1 .contenido-card1 {
    padding: 15px;
    text-align: center;

     h3 {
        margin-bottom: 15px;
        color: #7a7a7a;   
       
    }

     p {
        line-height: 1.8;
        color: #6a6a6a;
        font-size: 14px;
        margin-bottom: 5px;
    }
     a {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        transition: all 400ms ease;
        margin-bottom: 5px;
    }
     a:hover {
        background: #2fb4cc;
        color: #fff;
    }
    
}
