$color-negro: #000000;
$color-violeta:#330452;
$azul-claro: #c5ecfd;
$gris: #6a6a6a;
$celeste: #2fb4cc;
$marron:#f3840581;
$violeta-claro: #ea8fd8;
$rosa:rgba(240, 162, 162, 0.8);
$blanco:#fbfbfb;
$marron-claro:rgba(240, 103, 66, 0.911);
$gris-claro:rgba(255, 255, 255, 0.548);
$rosa-claro:rgba(240, 162, 162, 0.8);
