* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import "resset";
@import "variables";
@import "menu";
@import "fondopag";
@import "portada";
@import "tarjetas";
@import "galeria";
@import "animaciones";
@import "formulario";
@import "footer";


